.main{
  height: 300px;
  width: 1200px;
  border: 2px solid red;
  margin-top: 200px;
  margin-left: 70px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .bucket1, .bucket2 {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bucket1 h3, .bucket2 h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
  }
  
  .Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  
  .Buttons button {
    padding: 10px;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.6;
  }
  
  .Buttons button:hover {
   opacity: 1;
  }
  .selected {
    background-color: #a0e1a0; 
}

  .Buttons button:active {
    background-color: #388e3c;
  }
  